<div class="container">
  <div class="detail">
    <!-- <h2 class="h2 with-subheader">
     State Detail
    </h2> -->
    <dl class="horizontal">
    <!-- <p class="subheader id">ID: {{ id }}</p> -->
    <p class="title ellipsis" *ngIf="head">Block ID: {{head}}</p>
    <p class="title ellipsis" *ngIf="data">Data: {{data}}</p>
    <!-- <p class="input-output-list" style> Link Fr previous block: <a routerLink="previous_block">{{previous_block}}</a></p> -->
  </dl>
    <div class="well" *ngIf="error">
      <p class="error-text"><em>{{ error }}</em></p>
    </div>

<h3 class="h3">Payload</h3>
<div ace-editor
   [text]="payloadJSON"
   [mode]="aceMode"
   [theme]="'twilight'"
   [options]="aceOptions"
   [readOnly]="false"
   class="ace-editor"></div>

   <button> Show Previous State</button>

    <ng-container *ngIf="loading">
      <img src="../../assets/images/sawtooth_logo_loader.gif" class="loader"/>
    </ng-container>
    <ng-container *ngIf="!loading && !error">
      <dynamic-view-loader [component]="component" [data]="data"></dynamic-view-loader>
    </ng-container>
  </div>
</div>